#nav1 {
	margin-top:160px;
}

#header {
	margin-top:-20px;
}

#calendar {
	margin-left:320px;
	margin-top:220px;
	width:800px;
	height:500px;
    border: 0;
	-ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
	
}

     /* iphone 6 + */
	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{
	
	#calendar {
	margin-left:260px;
	margin-top:180px;
	width:235px;
	height:520px;
    border: 0;
	-ms-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(3);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
	
}
}



/* Site developed by Wout Corijn */














