body {
    margin: 0px 0px 0px 0px;
}

#site {
	
}

#header {
	float:left;
	width: 4000px;
	height:180px;
	background-color:#00cc44;
	margin-top:-20px;
	margin-left:-20px;
	position: fixed;
	z-index: 950;
}

#logo {
	float:left;
	height:120px;
	width:120px;
	margin-left:60px;
	margin-top:30px;
}

#logoaalter {
	float:left;
	height:120px;
	width:auto;
	margin-left:15px;
	margin-top:40px;
}

#titlelink {
	text-decoration:none;
}

#nav1 {
	margin-left:-20px;
	position: fixed;
	margin-top:160px;
	float:left;
	width:280px;
	height:100%;
	background-color:#262626;
}

#nav1 ul{
	list-style-type: none;
	margin-left:40px;
	margin-top:120px;
    padding: 0;
}

#nav1 li {
	margin-top:20px;
}

#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:200%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:35px;
	-webkit-transition: background-color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.1s;
	background-color:#262626;
}

#nav1 li a:hover {
	background-color:#E42A2A;
}

#nav1 ul #f {
	margin-top:10px;
	width:32px;
    height:32px;
}

#nav1 ul #insta {
	width:32px;
	height:32px;
}

#footer {
	margin-top:40px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	margin-left:50px;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
}

#nav1 #social {
	margin-top:40px;
	margin-left:40px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:150%;
}

#main {
	
}

#calendar {
	margin-left:320px;
	margin-top:220px;
	width:950px;
	height:500px;
    border: 0;
	-ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
	
}

/*** Works on common browsers ***/
::selection {
    background-color: #E42A2A;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #E42A2A;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #E42A2A;
    color: #fff;
}

::-ms-selection {
    background-color: #E42A2A8;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #E42A2A;
    color: #fff;
}

     /* iphone 6 + */
	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{
	#calendar {
	margin-left:260px;
	margin-top:180px;
	width:235px;
	height:520px;
    border: 0;
	-ms-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(3);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
	
}

	#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:250%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:35px;
}

#nav1 ul #f {
	margin-top:10px;
	width:0px;
    height:0px;
	margin-left:-5px;
}

#nav1 ul #insta {
   width:0px;
   height:0px;
   margin-left:-5px;
}

#nav1 li {
	margin-top:30px;
}

#footer {
	margin-top:350px;
	font-family: 'Roboto', sans-serif;
	color:#828282;
	font-size:130%;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	font-size:130%;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	font-size:110%;
	color:#707070;
}

}

/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)
{
  #calendar {
	margin-left:270px;
	margin-top:180px;
	width:350px;
	height:560px;
    border: 0;
	-ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
	
}

#footer {
	margin-top:300px;
	font-family: 'Roboto', sans-serif;
	color:#828282;
	font-size:130%;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	font-size:130%;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	font-size:100%;
	color:#707070;
}

}


/* Site developed by Wout Corijn */














