
.naam {
text-decoration: none;
color:black;
font-size:22px;
margin: 0;
}

.functie {
	font-size:15px;
	margin: 0 0 20px 0;
}
.foto {
width:70%;
height:auto;
bottom: 0;
}

#flexContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#flexContainer > div {
	text-align: center;
	position: relative;
	height: auto;
	width: 40%;
	margin-bottom: 60px;
}


     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{
.naam {
font-size:20px;
}
.functie {
	font-size: 17px;
}

#flexContainer > div {
	text-align: left;
	width: 75%;
}
}
