.bestuur_ul {
list-style-type: none;
padding: 0;
}
.bestuur_li {
padding-bottom: 30px;
}
.bestuur_li .naam {
text-decoration: none;
color:black;
font-size:26px;
margin: 0;
}
.bestuur_li .functie {
	font-size:20px;
	margin:0 0 10px 0;
}
.bestuur_li .foto {
width:200px;
height:auto;
}


     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{
.bestuur_li .naam {
font-size:20px;
}
.bestuur_li .functie {
	font-size:17px;
	{
}
