#nav1 {
	margin-top:-60px;
}

#header {
	margin-top:-240px;
}

#bestuur {
	font-size:200%;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
}

#list {
	width:600px;
	height:auto;
	margin-left:320px;
	margin-top:220px;
}

#list ul{
	list-style-type: none;
    padding: 0;
}

#list li {
	margin-top:40px;
}

#list li p {
    text-decoration: none;
	color:black;
	font-family: 'Roboto', sans-serif;
	font-size:180%;
}

#list #foto {
	margin-top:-15px;
	width:200px;
	height:auto;
}

/*** Works on common browsers ***/
::selection {
    background-color: #E42A2A;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color:  #E42A2A;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #E42A2A;
    color: #fff;
}

::-ms-selection {
    background-color: #E42A2A;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #E42A2A;
    color: #fff;
}

/* iphone 6 + */
	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{

#list #foto {
	margin-top:-15px;
	width:240px;
	height:auto;
}
#bestuur {
	font-size:50px;
}
}

/* Site developed by Wout Corijn */












