/*rood: #ee2923*/

html {
  overflow-y: scroll;
}

/* #snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
} */

html {
	background-color:#ffffff;
}


body {
	margin: 0;
	font-family:Arial;
	font-weight: bold;
}

a {
	color:#e21818;
}

#main {
	margin:0 auto;
	width:900px;
	background-color:white;
}

#header {
	position:fixed;
	width:900px;
	height:130px;
	z-index:10;
	background-color:#017e43;
}

#headercolor {
	position:fixed;
	width:100%;
	height:130px;
	background-color:#017e43;
}

#logo {
	float:left;
	height:100px;
	margin:15px 0px;
}

#logomobile {
	display:none;
}

#ul {
	margin-left:0px;
	margin-top:50px;
	float:left;
	list-style-type: none;
}

#li {
	float:left;
}

#li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
	font-size:22px;
	cursor:pointer;
}

#fb {
	padding:20px;
}

#insta {
	padding:20px;
}

#content {
	position:absolute;
	margin:130px 0px 0px 0px;
	width:900px;
	font-size:16px;
}

#title {
	padding-top:20px;
	font-size:26px;
	text-decoration: underline;
}
	/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}

     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
{

#headercolor {
display:none;
}
body {
}
#main {
	width:auto;
	height:auto;
}
#header {
	position:fixed;
	width:100%;
	height:130px;
	z-index:10;
}
#logo {
display:none;
}

#logomobile {
	display:block;
	float:left;
	height:100px;
	margin:15px;
}

#ul {
	margin-right:0px;
	margin-top:15px;
	float:none;
	list-style-type: none;
}

#li {
	float:right;
}


#li a {
	padding:0px 0px 5px 90px;
	font-size:19px;
	cursor:none;
}

#content {
	margin:150px 20px 0px 20px;
	width:auto;
	height:100%;
	font-size:14px;
}
#nav {
	margin-right:20px;
	width:90px;
	height:auto;
	float:right;
}
}
