.affiche {
	width: 100%;
}


#flexContainer {
	display: flex;
	flex-wrap: wrap;
}

#flexContainer > div {
	width: 25%;
}

     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{
#flexContainer > div {
	width: 50%;
}
}
