body {
	  font-family: arial;
}

#header {
	background-color:#017e43;
}

#main {
	margin-top:220px;
    margin-left:320px;
}

#fototitle {
	margin-top:220px;
	font-size:32px;
	text-decoration: underline;
}

#jaar {
	font-size:32px;
	margin-top:50px;
}

#foto {
	font-size:150%;
	margin-top:10px;
	color:#e21818;
}

	/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}

    /* iphone 6 + */
		@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{

#fototitle {
	font-size:50px;
}

#jaar {
	font-size:45px;
	margin-top:130px;
}

#foto {
	font-size:35px;
	margin-top:12px;
	display: inline-block;
}
}



/* Site developed by Wout Corijn */
