body {
  margin: 0px 0px 0px 0px;
}
#site {
	
}

#header {
	float:left;
	width: 4000px;
	height:180px;
	background-color:#00cc44;
	margin-top:-20px;
	margin-left:-20px;
	position: fixed;
}

#logo {
	float:left;
	height:120px;
	width:120px;
	margin-left:60px;
	margin-top:30px;
}
#logoaalter {
	float:left;
	height:120px;
	width:auto;
	margin-left:15px;
	margin-top:40px;
}
#title {
	float:left;
    font-family: 'Roboto', sans-serif;
	font-size:700%;
	margin-left:20px;
    margin-top:30px;
	color:#fff;
}
#titlelink {
	text-decoration:none;
}

#nav1 {
	margin-left:-20px;
	position: fixed;
	margin-top:160px;
	float:left;
	width:280px;
	height:100%;
	background-color:#262626;
}

#nav1 ul{
	list-style-type: none;
	margin-left:40px;
	margin-top:120px;
    padding: 0;
}

#nav1 li {
	margin-top:20px;
}

#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:200%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:35px;
}

#nav1 li a:hover {
	background-color:#00cc44;
}
#nav1 ul #f {
	margin-top:10px;
	width:32px;
    height:32px;
}

#nav1 ul #insta {
 width:32px;
 height:32px;
}

#nav1 #social {
	margin-top:40px;
	margin-left:40px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:150%;
}
#main {
	
}

#fotos {
	margin-top:240px;
	margin-left:280px;
	float:left;
	width:600px;
	height:auto;
}
#fototop {
	float:right;
	height:708px;
	width:500px;
}

#foto {
	float:right;
	height:708px;
	width:500px;
	margin-top:40px;
}
#textdiv {
	float:right;
	width:700px;
	height:auto;
	margin-top:220px;
	margin-right:-5px;
	
}

#texttop {
	font-family: 'Roboto', sans-serif;
	font-size:130%;
	height:708px;
}

#text{
	font-family: 'Roboto', sans-serif;
	font-size:130%;
	height:708px;
	margin-top:40px;
}

@media only screen and (max-width: 1600px) {
	#fotos {
	margin-top:240px;
	margin-left:220px;
	float:left;
	width:600px;
	height:auto;
}
}

@media only screen and (max-width: 1550px) {

	#fotos {
	margin-top:240px;
	margin-left:180px;
	float:left;
	width:600px;
	height:auto;
}
}
@media only screen and (max-width: 1000px) {
	
	#nav1 #social {
	margin-top:40px;
	margin-left:40px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:250%;
}
	#nav1 ul #f {
	margin-left:-10px;		
	margin-top:10px;
	width:0px;
    height:0px;
}

#nav1 ul #insta {
 margin-left:-10px;
 width:0px;
 height:0px;
}
	#nav1 li {
	margin-top:80px;
}

#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:320%;
	margin-left:-10px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:20px;
}
#nav1 {
	margin-left:-20px;
	position: fixed;
	margin-top:160px;
	float:left;
	width:320px;
	height:100%;
	background-color:#262626;
}

}












