body {
  margin: 0px 0px 0px 0px;
}

#site {
	
}

#header {
	float:left;
	width: 4000px;
	height:180px;
	background-color:#00cc44;
	margin-top:-240px;
	margin-left:-20px;
	position: fixed;
	z-index: 950;
}

#logo {
	float:left;
	height:120px;
	width:120px;
	margin-left:60px;
	margin-top:30px;
}

#logoaalter {
	float:left;
	height:120px;
	width:auto;
	margin-left:15px;
	margin-top:40px;
}

#title {
	float:left;
    font-family: 'Roboto', sans-serif;
	font-size:700%;
	margin-left:20px;
    margin-top:30px;
	color:#fff;
}

#titlelink {
	text-decoration:none;
}

#nav1 {
	margin-left:-20px;
	position: fixed;
	margin-top:-60px;
	float:left;
	width:280px;
	height:100%;
	background-color:#262626;
}

#nav1 ul{
	list-style-type: none;
	margin-left:40px;
	margin-top:120px;
    padding: 0;
}

#nav1 li {
	margin-top:20px;
}

#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:200%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:35px;
}

#nav1 li a:hover {
	background-color:#00cc44;
}
#nav1 ul #f {
	margin-top:10px;
	width:32px;
    height:32px;
}

#nav1 ul #insta {
    width:32px;
    height:32px;
}

#footer {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	margin-left:50px;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
}

#nav1 #social {
	margin-top:40px;
	margin-left:40px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:150%;
}

#main {
	margin-top:220px;
    margin-left:320px;
	font-family: 'Roboto', sans-serif;
}

#fototitle {
	margin-top:220px;
	font-size:200%;
	text-decoration: underline;
}

#jaar {
	font-size:200%;
	margin-top:50px;
}

#foto {
	font-size:150%;
	margin-top:10px;
	color:#e21818;
}

	/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}
        /* iphone 6 + */
		@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{
	iframe {
		margin-top:220px;
	    margin-left:280px;
		height:1500px;
        width:330px;
		z-index: 900;

    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

		#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:250%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:35px;
}

#nav1 ul #f {
	margin-top:10px;
	width:0px;
    height:0px;
	margin-left:-5px;
}

#nav1 ul #insta {
   width:0px;
   height:0px;
   margin-left:-5px;
}

#nav1 li {
	margin-top:30px;
}

#footer {
	margin-top:350px;
	font-family: 'Roboto', sans-serif;
	color:#828282;
	font-size:130%;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	font-size:130%;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	font-size:110%;
	color:#707070;
}

}

/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)
{
	iframe {
		margin-top:220px;
	    margin-left:280px;
		height:1500px;
        width:660px;
		z-index: 900;
}	

	#footer {
	margin-top:300px;
	font-family: 'Roboto', sans-serif;
	color:#828282;
	font-size:130%;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	font-size:130%;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	font-size:100%;
	color:#707070;
}

}


/* Site developed by Wout Corijn */


