#nav1 {
	margin-top:160px;
}

#header {
	margin-top:-20px;
	background-color:#00cc44;
}

body {
	position: relative;
}

#main {

}

#desktopi {
	padding-top:100px;
	height:1200px;
	width:1000px;
    z-index:2;
}

#mobilei {
	display:none;
}

#map {
	margin-top:-200px;
	width:800px;
	height:600px;
	margin-left:100px;
	z-index: 0;
}

	/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}


@media screen and (max-width: 1370px) {
#desktopi {
	padding-top:100px;
	height:1500px;
	width:1000px;
	z-index:2;
}
#map {
margin-top:-200px;
}
}

	
	/* iphone 6 + */
	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{
#mobilei {
	display:block;
	padding-top:100px;
	height:1900px;
	width:1000px;
	z-index:2;
}

#desktopi {
	display:none;
}
#map {
	margin-left:0px;
	margin:0px auto;
	width:900px;
	height:600px;
}
}


/* Site developed by Wout Corijn */

