#nav1 {
	margin-top:160px;
}

#header {
	margin-top:-20px;
	background-color:#00cc44;
}

body {
	position: relative;
}

#main {

}

video {
	margin-top:150px;
	margin-left:320px;
	width:640;
	height:440;
}

#desktopi {
	padding-top:100px;
	height:1600px;
	width:1000px;
    z-index:2;
	margin-left:280px;
}

#mobilei {
	display:none;
}

#map {
	margin-top:-150px;
	width:800px;
	height:600px;
	margin-left:380px;
	z-index: 0;
}

	/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}


@media screen and (max-width: 1370px) {
#desktopi {
	padding-top:100px;
	height:2000px;
	width:1000px;
	z-index:2;
}
#map {
margin-top:-200px;
margin-left:415px;
}
}

	
	/* iphone 6 + */
	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{
#mobilei {
	display:block;
	padding-top:100px;
	height:2400px;
	width:750px;
	z-index:2;
	margin-top:160px;
	margin-left:200px;
	display: inline;
}

#desktopi {
	display:none;
}
#map {
	position:absolute;
	margin-left:300px;
	margin-top:-550px;
	width:600px;
	height:500px;
}
video {
		margin-top:280px;
	margin-left:440px;
	width:330;
	height:250;
  -moz-transform:scale(2);
  -webkit-transform:scale(2);
  -o-transform:scale(2);
  -ms-transform:scale(2);
  transform:scale(2);
}
}


/* Site developed by Wout Corijn */

