body {
	  font-family: arial;
}

#nav1 {
	margin-top:160px;
}

#header {
	margin-top:-20px;
	background-color:#017e43;
}

#desktop {
	margin-top:150px;
	margin-left:220px;
    height:15000px;
    width:1400px;
	display: inline;
}

#mobile {
	display: none;
}

	/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}


@media screen and (max-width: 1370px) {
#desktop {
    height:14000px;
	width:2000px;
}
}


	/* iphone 6 + */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{

#mobile {
	margin-top:160px;
	margin-left:220px;
    height:1600px;
    width:750px;
	display: inline;
}

#desktop {
	display: none;
}

}


/* Site developed by Wout Corijn */
