#nav1 {
	margin-top:160px;
}

#header {
	margin-top:-20px;
}

body {
	position: relative;
}

#main {
	width:900px;
	  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start {
	margin-top:80px;
	float:left;
	height:600px;
	width:400px;
	background-color:#00cc44;
	background-image:url('');
	position: relative;
}

#fuif {
	margin-top:80px;
	float:right;
	height:600px;
	width:400px;
	background-color:#00cc44;
	background-image:url('images/fuif.jpg');
	position: relative;
	transition:0.2s;
}

#fuif:hover {
  -webkit-filter: grayscale(1); /* Old WebKit */
  filter: grayscale(1);
}


.fstext {
  	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	position:absolute;
	padding-bottom:30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
	
	/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}


@media screen and (max-width: 1370px) {

}

	
	/* iphone 6 + */
	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{
#main {
	width:900px;
	  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start {
	margin-top:20px;
}

#fuif {
	margin-top:20px;
}
.fstext {
	font-size:50px;
	width:400px;
	text-align:center;
	padding-bottom:60px;
}
}


/* Site developed by Wout Corijn */

