
#video {
	width:560px;
	height:300px;
}

#foto {
	width:300px;
}

.fotomaand {
	width:550px;
}
#affiche {
  width: 500px;
}
     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{
	#video {
	width: 100%;
	height:150px;
}
.text {
	width: 100%;
}
#foto {
	width:250px;
}

.fotomaand {
	width:250px;
}
#affiche {
  width: 250px;
}
