#nav1 {
	margin-top:160px;
}

#header {
	margin-top:-20px;
	background-color:transparent;
}

body {
	position: relative;
	margin-top:100px;
}

br {
	display: none;
}

#bgi {
	z-index:-5;
	height:auto;
	width:100%;
  position: fixed;
  margin: 0 auto;
}

#main {
	   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
	 text-decoration:none;
	 color:#fff;
	 display:inline-block;
}

a:hover {
	cursor: hand;
}

ul {
list-style:none;
display:inline;
}

li {
	display:inline-block;
	margin:20px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	transition:0.2s;
	font-weight:900;
}

li:hover {
	background: transparent;
	color:#E42A2A;
	cursor: hand;
}

#home {
	padding:20px 30px;
		background-color:#E42A2A;
}

#sfl1 {
	padding:20px 20px;
background-color: #E42A2A;
}

#sfl2 {
	padding:20px 10px;
background-color:#E42A2A;
}

#sfl3 {
	padding:20px 10px;
background-color:#E42A2A;
}


	/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}


@media screen and (max-width: 1370px) {

}


	/* iphone 6 + */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{
	br {
		display: block;
	}

	ul {
	display:block;
	text-align: center;

	}

	li {
  margin: 40px;
	font-size:45px;

}
#main {
	 width:900px;
}


#home {
	padding:40px 125px;
		background-color:#E42A2A;
}

#sfl1 {
	padding:40px 60px;
background-color: #155CAA;
}

#sfl2 {
	padding:40px 60px;
background-color:#E42A2A;
}

#bgi {
	width:auto;
	height:100%;
	position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
}


/* Site developed by Wout Corijn */
