body {
    margin: 0px 0px 0px 0px;
	overflow-x:hidden
}

#site {
	
}

#header {
    float:left;
	width: 4000px;
	height:180px;
	background-color:#00cc44;
	margin-top:-240px;
	margin-left:-20px;
	position: fixed;
}

#logo {
	float:left;
	height:120px;
	width:120px;
	margin-left:60px;
	margin-top:30px;
}

#logoaalter {
	float:left;
	height:120px;
	width:auto;
	margin-left:15px;
	margin-top:40px;
}

#title {
	float:left;
    font-family: 'Roboto', sans-serif;
	font-size:700%;
	margin-left:20px;
    margin-top:30px;
	color:#fff;
}

#titlelink {
	text-decoration:none;
}

#nav1 {
	margin-left:-20px;
	position: fixed;
	margin-top:-60px;
	float:left;
	width:280px;
	height:100%;
	background-color:#262626;
}

#nav1 ul{
	list-style-type: none;
	margin-left:40px;
	margin-top:120px;
    padding: 0;
}

#nav1 li {
	margin-top:20px;
}

#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:200%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:35px;
	-webkit-transition: background-color 0.1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.1s;
}

#nav1 li a:hover {
	background-color:#E42A2A;
}

#nav1 ul #f {
	margin-top:10px;
	width:32px;
    height:32px;
}

#nav1 ul #insta {
    width:32px;
    height:32px;
}

#footer {
	margin-top:40px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	margin-left:50px;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
}

#nav1 #social {
	margin-top:40px;
	margin-left:40px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:150%;
}

#main {
	
}

#main {
    margin-top:220px;
	margin-left:280px;
    height:1500px;
    width:850px;
}

#info {
	font-family: 'Roboto', sans-serif;
	font-size:200%;
	text-decoration: underline;
	margin-left:40px;
}

#text{
	font-family: 'Roboto', sans-serif;
	font-size:150%;
	margin-top:60px;
	margin-left:40px;
}

/*** Works on common browsers ***/
::selection {
    background-color: #e21818;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e21818;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #e21818;
    color: #fff;
}

::-ms-selection {
    background-color: #e21818;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e21818;
    color: #fff;
}

@media screen and (max-width: 1370px) {
	#header {
	float:left;
	width: 4000px;
	height:140px;
	background-color:#00cc44;
	margin-top:-240px;
	margin-left:-20px;
	position: fixed;
	z-index: 900;
}

#logo {
	float:left;
	height:100px;
	width:100px;
	margin-left:60px;
	margin-top:30px;
}

#logoaalter {
	float:left;
	height:100px;
	width:auto;
	margin-left:15px;
	margin-top:30px;
}



#nav1 {
	margin-left:-20px;
	position: fixed;
	margin-top:-100px;
	float:left;
	width:240px;
	height:100%;
	background-color:#262626;
}

	#desktop {
	margin-top:150px;
	margin-left:280px;
    height:6000px;
    width:800px;
	display: inline;
}

#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:140%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:35px;
}

#nav1 ul{
	list-style-type: none;
	margin-left:40px;
	margin-top:40px;
    padding: 0;
}

#nav1 ul #f {
	margin-top:10px;
	width:22px;
    height:22px;
	margin-bottom:-2px;
}

#nav1 ul #insta {
    width:22px;
    height:22px;
	margin-bottom:-2px;
}
#footer {
	margin-top:40px;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#707070;
	margin-left:50px;
}

#privacy {
	margin-top:10px;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#707070;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
}

}

  /* iphone 6 + */
	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{
	

#header {
    float:left;
	width: 4000px;
	height:180px;
	background-color:#00cc44;
	margin-top:-240px;
	margin-left:-20px;
	position: fixed;
}

#logo {
	float:left;
	height:120px;
	width:120px;
	margin-left:60px;
	margin-top:30px;
}

#logoaalter {
	float:left;
	height:120px;
	width:auto;
	margin-left:15px;
	margin-top:40px;
}

#nav1 {
	margin-left:-20px;
	position: fixed;
	margin-top:-60px;
	float:left;
	width:280px;
	height:100%;
	background-color:#262626;
}
	
	
#main {
    margin-top:220px;
	margin-left:280px;
	height:1500px;
    width:550px;
}

	#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:250%;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:25px;
}

#nav1 ul{
	list-style-type: none;
	margin-left:40px;
	margin-top:120px;
    padding: 0;
}

#nav1 ul #f {
	margin-top:10px;
	width:0px;
    height:0px;
	margin-left:-5px;
}

#nav1 ul #insta {
    width:0px;
    height:0px;
    margin-left:-5px;
}

#nav1 li {
	margin-top:30px;
}

#footer {
	margin-top:350px;
	font-family: 'Roboto', sans-serif;
	color:#828282;
	font-size:130%;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	font-size:130%;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	font-size:110%;
	color:#707070;
}

}

/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)
{
#main {
	margin-top:220px;
	margin-left:280px;
    height:1500px;
    width:600px;
}

#footer {
	margin-top:300px;
	font-family: 'Roboto', sans-serif;
	color:#828282;
	font-size:130%;
}

#privacy {
	margin-top:120px;
	font-family: 'Roboto', sans-serif;
	color:#707070;
	font-size:130%;
	margin-left:50px;
}

#developlink {
	margin-top:90px;
	font-family: 'Roboto', sans-serif;
	font-size:100%;
	color:#707070;
}

#nav1 ul{
	list-style-type: none;
	margin-left:40px;
	margin-top:120px;
    padding: 0;
}

#nav1 li a {
    text-decoration: none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:27px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:35px;
}

}

/* Site developed by Wout Corijn */









