#text {
margin:30px 50px 0px 0px;
font-size:16px;
}
#main {

}

     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{
	#text {
		margin:00px 20px 0px 0px;
		font-size:14px;
}
}